@model EntertainerManagementSite.Models.AgencyOffice

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AgencyOffice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Address.Address_address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.Address_address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Agency.Agency_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Agency.Agency_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OfficeContactInformation.ContactInfo_phoneNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfficeContactInformation.ContactInfo_phoneNo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
